@primary-color: #77DD76; //F9F2A4

@seconary-color: #aeebad;

@tertiary-color: #FFFFFF;

@primary-darker: #5ED65C;

@primary-radius: 0.25rem;

@gray: #35363A;

@gray-shadow: #3f4045;

@lighter-gray: #46474d;

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;		
}

#index-body{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

body, html{
	height: 100%;
	background-color: @gray;
}

#title{
	color: @primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 3rem;
}

#title-dot{
	background-color: @primary-color;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	bottom: -10px;
	transform: transformX(-100px);
}

#logo-wrapper{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

path, circle{
	transition: 1s;
}


#sign-in-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	flex: 1;
}


#sign-in{
	width:300px;
	background-color: @lighter-gray;
	border-radius: @primary-radius;
	border-top-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	box-shadow:1px 1px 0px 1.5px rgba(255, 255, 255, 0.125);	
	display: flex;
	align-self: center;
	flex-direction: column;
	margin-bottom: 100px;
}



#sign-in > *{
	text-align: center;
}

#sign-in > h1{
	color: @primary-color;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.form-control{
	border: 2px solid @primary-color;
	background-color: @tertiary-color;
	box-shadow: 0px 0px 0px 1px @primary-darker;
	transition: 0.5s;
}

#sign-in > input:hover{
	background-color: @seconary-color;
}


.form-control:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="number"]:focus, select:focus{
	border: 2px solid @primary-color;
	box-shadow: 0px 0px 0px 3px rgba(128, 128, 128, 0.3);
	background-color: @primary-color !important;
	color: white;
}

.form-control:focus::placeholder{
	color:white;
	transition: 0.3s;
}


#sign-in > button{
	background-color: @primary-color;
	border: none;
	padding: 4px;
	border-radius: 0.3rem;
	font-size: 1.25rem;
	bottom:40px;
	right:40px;
	color: white;
	text-align:center;
	box-shadow: 0px 0px 0px 3px rgba(128, 128, 128, 0.3);
	color: @tertiary-color;
	transition: 0.5s;
}

#sign-in > button:hover{
	background-color: @primary-darker;
}


#sign-in > button:active, 
#sign-in > button:focus, 
#sign-in > button:active:focus
#sign-in > button{
	background-color: @primary-color;
	border:0;
	transition:.5s;
	box-shadow:none;
	outline:none !important;
}



#wave-wrapper{
  	width:100%;
}

#wave{
	background: url('../resources/svg/wave.svg') repeat-x; 
	top: -198px;
	width: 6400px;
	height: 198px;
	animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
}

#admin-body{
	display: flex;
	width: 100%;
	flex-direction: column;
	overflow: hidden;
}

#admin-body > #title{
	z-index: 2;
}

#searchbox-form{
	z-index: 2;
}



#user-list{
	flex: 1;
	overflow-y: auto;
	list-style: none;
	padding: 0;
	z-index: 2;
}

#user-list > li{
	width: 100%;
	margin-bottom: 1rem;
	padding-right: 1rem;
}

#user-list > li:last-child{
	margin: 0;
}

#user-list > li > a{
	background-color: @primary-color;
	width: 100%;
	display: block;
	color:  @tertiary-color;
	text-decoration: none;
	padding: 0.25rem;
	border-radius: 4px;
	transition: 0.5s;
}

#user-list > li > a:hover{
	background-color: @primary-darker;
}


#user-list::-webkit-scrollbar-track{
	background-color: @seconary-color;
}

#user-list::-webkit-scrollbar{
	background-color: @seconary-color;
	width: 12px;
}

#user-list::-webkit-scrollbar-thumb{
	background-color: @lighter-gray;
}

@keyframes wave {
	0% {
	  margin-left: 0;
	}
	100% {
	  margin-left: -1600px;
	}
  }
  
  @keyframes swell {
	0%, 100% {
	  transform: translate3d(0, -25px, 0);
	}
	50% {
	  transform: translate3d(0, 5px, 0);
	}
  }

