@primary-color: #77DD76; //F9F2A4

@seconary-color: #aeebad;

@tertiary-color: #ddf6dd;

@primary-darker: #5ED65C;

@primary-radius: 0.25rem;

@gray: #35363A;

@gray-shadow: #3f4045;

@lighter-gray: #46474d;

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;		
}

button > a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
	display: block;
}

button > a:hover{
	color: black;
}

#index-body, #authentication-body{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

body, html{
	height: 100%;
	background-color: @gray;
}

#title{
	color: @primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 3rem;
}

#title-dot{
	background-color: @primary-color;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	bottom: -10px;
	transform: transformX(-100px);
}

#logo-wrapper{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

path, circle{
	transition: 1s;
}


#sign-in-wrapper, #authentication-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	flex: 1;
	flex-direction: row;

	
}

.login-menu-wrapper{
	width:300px;
	background-color: @lighter-gray;
	border-radius: @primary-radius;
	border-top-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	box-shadow:1px 1px 0px 1.5px rgba(255, 255, 255, 0.125);	
	display: flex;
	align-self: center;
	flex-direction: column;
	margin-bottom: 100px;
	padding: 1.5rem;
	padding-bottom:0;
	position: relative;
	height: 343px;
}

#sign-in{
	left:150px;
	z-index: 1;
}

.login-menu-wrapper > *{
	text-align: center;
}

.login-menu-wrapper > h1{
	color: @primary-color;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.form-control{
	border: 2px solid @primary-color;
	background-color: @tertiary-color;
	box-shadow: 0px 0px 0px 1px @primary-darker;
	transition: 0.5s;
}

input:hover{
	background-color: @seconary-color;
}


.form-control:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="number"]:focus, select:focus{
	border: 2px solid @primary-color;
	box-shadow: 0px 0px 0px 3px rgba(128, 128, 128, 0.3);
	background-color: @seconary-color !important;
}

.form-control:focus::placeholder{
	transition: 0.3s;
}


.login-menu-wrapper > button{
	background-color: @primary-color;
	border: none;
	padding: 4px;
	border-radius: 0.3rem;
	font-size: 1.25rem;
	bottom:40px;
	right:40px;
	color: @tertiary-color;
	text-align:center;
	box-shadow: 0px 0px 0px 3px rgba(128, 128, 128, 0.3);
	color: @tertiary-color;
	transition: 0.5s;
}

.login-menu-wrapper > button:hover{
	background-color: @primary-darker;
}


.login-menu-wrapper  > button:active, 
.login-menu-wrapper  > button:focus, 
.login-menu-wrapper  > button:active:focus
.login-menu-wrapper  > button{
	background-color: @primary-color;
	border:0;
	transition:.5s;
	box-shadow:none;
	outline:none !important;
}

.login-menu-wrapper > .reset-password-cycle{
	background-color: transparent;
	box-shadow: none;
	color: @primary-color;
	font-size: 1rem;
	text-decoration: underline;
	cursor: pointer;
}

#reset-password-wrapper{
	right: 150px;
}

#reset-password-wrapper > #inputEmailReset{
	margin-bottom: 82px;
	margin-top:20px;
}

#authentication{
	height: initial;
}


#wave-wrapper{
  	width:100%;
}

#wave{
	background: url('../resources/svg/wave.svg') repeat-x; 
	top: -198px;
	width: 6400px;
	height: 198px;
	animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, swell 20s linear infinite;
	transform: translate3d(0, 0, 0);
}

#admin-body{
	display: flex;
	width: 100%;
	flex-direction: column;
	overflow: hidden;
}

#admin-body > #title{
	z-index: 2;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}


#user-edit-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#user-edit{
	height: 400px;
	background-color: @lighter-gray;
	border-radius: 8px;
	position: relative;
	box-shadow: 1px 1px 0px 1px rgba(128, 128, 128, 0.3);
	margin: 2rem;
}

#admin-wrapper{
	display: flex;
	width: 100%;
	flex-direction: column;
	overflow: hidden;
}


#searchbox-form{
	z-index: 2;
}

.inline-menu-wrapper{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.inline-menu{
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	margin: 0;
}

.inline-menu > li{
	display: flex;
	justify-content:space-evenly;
	padding: 0.25rem;
	margin-right: 2rem;
}



.inline-menu > li:last-child{
	margin: 0;
}

.inline-menu > li > button, .inline-menu > li > button:focus{
	padding: 0.5rem;
	background-color: @primary-color;
	border: none;
	border-radius: 4px;
	transition: 0.3s;
	outline: none;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
	text-align:center;
	box-shadow: 0px 0px 0px 3px rgba(128, 128, 128, 0.3);
	min-width: 100px;
	font-size: 1.1rem;
}

.inline-menu > li > button:hover{
	background-color: @primary-darker;
}


#add-user-wrapper{
	width: 100%;
	position: relative;
	display: none;
	padding-bottom: 1rem;
}

#add-user{
	width: 100%;
	height: 400px;
	background-color: @lighter-gray;
	border-radius: 10px;
	box-shadow: 0.5px 0.5px 0px 0.5px rgba(0, 0, 0, 0.2);
}

.close-button{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: @gray-shadow;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0.5px 0.5px 0px 0.5px rgba(0, 0, 0, 0.2);
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: 0.2s;
	transform: scale(0.65, 0.65);
}
.close-button > svg{
	width: 24.79px;
	height: 24.79px;
}



#user-list{
	flex: 1;
	overflow-y: auto;
	list-style: none;
	padding: 0;
	z-index: 2;
}

#user-list > li{
	width: 100%;
	margin-bottom: 1rem;
	padding-right: 1rem;
}

#user-list > li:last-child{
	margin: 0;
}

#user-list > li > a{
	background-color: @lighter-gray;
	width: 100%;
	display: block;
	color:  @tertiary-color;
	text-decoration: none;
	padding: 0.25rem;
	border-radius: 4px;
	transition: 0.5s;
	box-shadow: 0.5px 0.5px 0px 0.5px rgba(0, 0, 0, 0.2);
}

#user-list > li > a:hover{
	background-color: @primary-darker;
}


#user-list::-webkit-scrollbar-track{
	background-color: @lighter-gray;
}

#user-list::-webkit-scrollbar{
	width: 12px;
}

#user-list::-webkit-scrollbar-thumb{
	background-color: @gray-shadow;
}

@keyframes wave {
	0% {
	  margin-left: 0;
	}
	100% {
	  margin-left: -1600px;
	}
  }
  
  @keyframes swell {
	0%, 100% {
	  transform: translate3d(0, 0, 0);
	}
	50% {
	  transform: translate3d(0, 35px, 0);
	}
  }


