<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <link rel="stylesheet/less" type="text/css" href="../static/css/styles.less" />
        <script src="../static/js/less.js" type="text/javascript"></script>
        <script src="../static/js/anime.min.js" type="text/javascript"></script>
        <link rel="icon" href="../static/resources/favicon.png" type="image/png" sizes="64x64">
        <title>MeetMate - Spotkania organizatora</title>
    </head>
    <body id="admin-body">
        <div id="user-edit-wrapper">
            <div id="user-edit" class="container-sm">

                <form class="pb-3" id="meeting-form">

                    <div id="title" class="mt-3 mb-2">
                        Spotkanie
                    </div>
    
                    <label for="meetingName">
                        Nazwa spotkania
                    </label>
                    <input type="text" id="inputMeetingName" name="meetingName" class="form-control mt-1 mb-3" required="" autofocus="">
    
                    <label for="meetingStart">
                        Czas rozpoczęcia
                    </label>
                    <input type="datetime-local" id="inputMeetingStart" name="meetingStart" class="form-control mb-3" required="">
    
                    <label for="meetingEnd">
                        Czas zakończenia
                    </label>
                    <input type="datetime-local" id="inputMeetingEnd" name="meetingEnd" class="form-control mb-3" required="">

                    <label for="meetingLocalization">
                        Lokalizacja
                    </label>
                    <div class="d-flex flex-row">
                        <input type="text" id="inputMeetingLocationX" name="meetingLocationX" class="form-control mb-3" style="margin-right: 2rem;" required="">
                        <input type="text" id="inputMeetingLocationY" name="meetingLocationY" class="form-control mr-3 mb-3" required="">
                    </div>
                   

                    <label for="meetingRadius">
                        Odległość maksymalna
                    </label>
                    <input type="text" id="inputMeetingRadius" name="meetingRadius" class="form-control mb-3" required="">
    
                    <label for="meetingLocation">
                        Miejsce
                    </label>
                    <input type="text" id="inputMeetingLocation" name="meetingLocation" class="form-control mb-3" required="">
    

                    <label for="meetingStatus">
                        Status
                    </label>

                    <select class="form-control mb-3" name="meetingStatus" id="inputMettingStatus" required="">
                        <option value="ACTIVE"> Aktywne </option>
                        <option value="INACTIVE"> Niekatywne </option>
                    </select>
    
                    <label for="meetingDescription">
                        Krótki opis
                    </label>
                    <input type="text" id="inputMeetingDescription" name="meetingDescription" class="form-control mb-3">
    
                    <div class="d-flex flex-row">
                        <div class="col no-transition button-men" id="buttonAccept" href="">
                            <button type="button" class="mb-4 mt-4 no-transition"> Zatwierdz </button>
                        </div>
    
                        <a class="col no-transition button-men" id="buttonReport" href="" target="_blank">
                            <button type="button" class="mb-4 mt-4 no-transition"> Raport </button>
                        </a>

                        <a class="col no-transition button-men" id="buttonQR" href="" target="_blank">
                            <button type="button" class="mb-4 mt-4 no-transition"> Otwórz QR </button>
                        </a>
                    </div>
                    

                </form>
    


                <div class="close-button" id="close-edit-user">

                    
                    <svg>
                        <rect
                            style="fill:#77dd76;stroke-width:0.21402;fill-opacity:1"
                            id="rect835"
                            width="32.26733"
                            height="2.784857"
                            x="0.83689839"
                            y="-1.3924285"
                            ry="0.95043635"
                            transform="rotate(45)" />
                        <rect
                            transform="rotate(135)"
                            ry="0.95043641"
                            y="-18.362991"
                            x="-16.133665"
                            height="2.784857"
                            width="32.26733"
                            id="rect835-0"
                            style="fill:#77dd76;stroke-width:0.21402;fill-opacity:1" />
                    </svg>
                </div>
            </div>
        </div>
        <div id="admin-wrapper" class="content-wrapper container-sm">
            <div id="title" class="mt-5 mb-5">
                Spotkania organizatora
            </div>
            <div class="inline-menu-wrapper mb-3">
                <ul class="inline-menu" id="admin-menu">
                    <li>
                        <button><a href="/organizer">Powrót</a></button>
                    </li>
                </ul>
            </div>
            <div id="add-user-wrapper">
                <div class="close-button" id="close-add-user">
                    <svg>
                        <rect
                            style="fill:#77dd76;stroke-width:0.21402;fill-opacity:1"
                            id="rect835"
                            width="32.26733"
                            height="2.784857"
                            x="0.83689839"
                            y="-1.3924285"
                            ry="0.95043635"
                            transform="rotate(45)" />
                        <rect
                            transform="rotate(135)"
                            ry="0.95043641"
                            y="-18.362991"
                            x="-16.133665"
                            height="2.784857"
                            width="32.26733"
                            id="rect835-0"
                            style="fill:#77dd76;stroke-width:0.21402;fill-opacity:1" />
                    </svg>
                </div>
                <div id="add-user">
                </div>
            </div>
            <form class="form-inline d-flex flex-row" id="searchbox-form">
                <input id="searchBar" class="text-center form-control flex-grow-1" onkeyup="searchForUser()" type="text" placeholder="Wyszukaj spotkanie" aria-label="Search" >
            </form>
            <ul id="user-list" class="mt-3 mb-5">
                {% for meet in meetings %}
                <li onclick="meet_get('{{meet.link_id}}')"><a>{{ meet.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <script src="../static/js/search_bar.js"></script>
        <script src="../static/js/admin-panel.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script>
            function convertUTCDateToLocalDate(date) {
                var newDate = new Date(date.getTime()+date.getTimezoneOffset()*60*1000);
                var offset = date.getTimezoneOffset() / 60;
                var hours = date.getHours();
                newDate.setHours(hours - offset);
                return newDate;   
            }

            function meet_get(meet_id){
                meet = meet_id;
                var form_data = new FormData()
                form_data.append("action", "get");

                var request = new XMLHttpRequest();
                request.open("POST", "/edit_meeting/" + meet_id);
                request.onreadystatechange = function(){
                    if(request.readyState !== XMLHttpRequest.DONE){
                        return;
                    }

                    if(request.status != 200){
                        return;
                    }

                    response = JSON.parse(request.responseText);
                    if(response.status == "ERROR"){
                        return;
                    }

                    meet_data = response.data;
                    $('#inputMeetingName').val(meet_data.name);
                    $('#inputMeetingDescription').val(meet_data.description);
                    $('#inputMeetingStart').val(convertUTCDateToLocalDate(new Date(meet_data.start_time * 1000)).toISOString().slice(0, -5))
                    $('#inputMeetingEnd').val(convertUTCDateToLocalDate(new Date(meet_data.stop_time * 1000)).toISOString().slice(0, -5))
                    $('#inputMeetingLocation').val(meet_data.localization);
                    $('#inputMettingStatus').val(meet_data.status);
                    $('#inputMeetingLocationX').val(meet_data.longitude);
                    $('#inputMeetingLocationY').val(meet_data.latitude);
                    $('#inputMeetingRadius').val(meet_data.radius);

                    $('#buttonAccept').attr("onclick", "meet_update('" + meet_data.link_id + "')")
                    $('#buttonReport').attr("href", "/report/" + meet_data.link_id)
                    $('#buttonQR').attr("href", "/meet/" + meet_data.link_id)

                }
                request.send(form_data);
            }

            function meet_update(meet_id){
                var form_data = new FormData()
                form_data.append("action", "edit");
  
                form_data.append("name", $('#inputMeetingName').val())
                form_data.append("description", $('#inputMeetingDescription').val())
                form_data.append("start_time", Math.round((new Date($('#inputMeetingStart').val())) / 1000))
                form_data.append("stop_time", Math.round((new Date($('#inputMeetingEnd').val())) / 1000))
                form_data.append("localization", $('#inputMeetingLocation').val())
                form_data.append("status", $('#inputMettingStatus').val())
                form_data.append("longitude", $('#inputMeetingLocationX').val())
                form_data.append("latitude", $('#inputMeetingLocationY').val())
                form_data.append("radius", $('#inputMeetingRadius').val())

                var request = new XMLHttpRequest();
                request.open("POST", "/edit_meeting/" + meet_id);
                request.onreadystatechange = function(){
                    if(request.readyState !== XMLHttpRequest.DONE){
                        return;
                    }

                    if(request.status != 200){
                        return;
                    }
                }
                request.send(form_data);
                $("#close-edit-user").click()
            }
        </script>
    </body>
</html>